<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
    <% if (!posts || posts.length === 0) { %>
      <p>No posts found - maybe start creating some?</p>
      <a class="btn" href="/new-posts">Create a new post</a>
    <% } else { %>
      <ol id="post-list">
        <% for (const post of posts) { %>
          <li class="post-item">
            <h2><%= post.title %></h2>
            <p class="post-item-author">By <%= post.author_name %></p>
            <p><%= post.summary %></p>
            <div class="post-actions">
                <button class="btn btn-alt">Delete Post</button>
                <a href="...">Edit Post</a>
                <a href="/posts/<%= post.id %>" class="btn">View Post</a>
            </div>
          </li>
        <% } %>
      </ol>
    <% } %>

  </main> 
</body>

</html>